---
import { Card } from '@/components/card'
import Layout from '@/layouts/main-layout.astro'
---

<Layout>
  <Card>
    <h2 class="mb-2 text-xl font-medium">Breadcrumb</h2>
    <p>
      A breadcrumb trail consists of a list of links to the parent pages of the
      current page in hierarchical order.
    </p>
    <a
      href="/breadcrumb-example"
      class="text-euricom-400 hover:underline active:text-euricom-200"
    >
      View example »
    </a>
  </Card>
</Layout>
